<!DOCTYPE html>
<html lang="en">

<head>
    <title>Murder Dashboard</title>
    <meta name="description" content="No, no, not that kind. Probably.">
</head>

<style>
    * {
        border: 0 none;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        /* outline-style: solid; */
    }

    h1 {
        margin-bottom: 10px;
        padding: 20px;
        background-color: darkslategray;
        color: white;
    }

    table {
        margin: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }

    thead {
        font-weight: bold;
        border: 1px solid black;
        background-color: darkslategray;
        color: white;
    }

    button,
    input[type=submit],
    td,
    tr,
    th {
        margin: 5px;
        padding: 10px;
        border: 1px solid black;
        text-align: center;
    }

    p {
        margin: 5px;
    }

    input[type=text],
    input[type=number] {
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
    }
</style>

<body>
    <center>

        <h1>CROW INFO: <%= crow.name %></h1>

        <p>Name: <%= crow.name %></p>
        <p>Age: <%= crow.age %></p>
        <p>Color: <%= crow.color %></p>

        <p><a href="/crows/edit/<%= crow.id %>"><button>Edit This Crow</button></a></p>
        <p><a href="/"><button>Back to Dashboard</button></a></p>


    </center>

</body>

</html>